[pretix]
instance_name=StuStaPay Ticket Shop
url=http://localhost:4400
currency=EUR
datadir=/data
trust_x_forwarded_for=on
trust_x_forwarded_proto=on

[database]
backend=postgresql
name=pretix
user=pretix
password=pretix
host=localhost

[mail]
from=ssp-tickets-test@stusta.de
host=localhost

[redis]
location=redis://127.0.0.1:6379/1
; Remove the following line if you are unsure about your redis' security
; to reduce impact if redis gets compromised.
sessions=true

[celery]
backend=redis://127.0.0.1:6379/1
broker=redis://127.0.0.1:6379/1
