*.orig

# python
__pycache__
*.pyc
*.pyo
*.egg-info
/.coverage
/coverage.xml
/junit

# python venv
/venv

# building
MANIFEST
dist/

# testing
/*.conf
/test
/build

# ides
.idea
*~
~*
.*.swp
\#*
.#*
flycheck_*

# project specific
config.yaml
config.devcontainer.yml
