*.orig

# python
__pycache__
*.pyc
*.pyo
*.egg-info
/.coverage
/coverage.xml
/junit

# python venv
/venv
bin
lib
lib64
pyvenv.cfg

# building
MANIFEST
dist/

# testing
/*.conf
/*.yaml
/test
/build

# ides
.idea
*~
~*
.*.swp
\#*
.#*
flycheck_*
.auctex-auto

# project specific
/config.yaml
/config.devcontainer.yml
/server.yaml

# nodejs
node_modules/

# local
TODO.md

# nix
.direnv
.envrc
