[Unit]
Description=StuStaPay TSE Controller
After=postgresql.service

[Service]
ExecStartPre=/usr/lib/stustapay/systemd-exec-start-pre.sh
ExecStart=/usr/lib/stustapay/venv/bin/stustapay tse signature-processor
User=stustapay
Group=stustapay

[Install]
WantedBy=multi-user.target